body{
  font-family: Verdana, sans-serif;
}

header {
  background-color: #7ff6fa; /*sfondo titolo + nav*/
  color: #000000;
  padding: 20px;
  text-align: center;
}


nav ul {
  list-style: none;
  margin: 0;
  padding: 0;
  background-color: #8de9ec ;  /*sfondo barra nav*/
  text-align: center;
}
nav ul ul {
  display: none;
  position: absolute;
  top: 100%;
}
nav ul li {
  display: inline-block;
  position: relative;
}

nav ul li a {
  color: #000000; /* colore testo nav */
  display: block;
  padding: 10px 20px;
  text-decoration: none;
}

nav ul ul li a {
  background-color: #2fbbc0; /*  colore quadrati nav che quando passi sopra con il mause senza cambiiare colore*/
  color: #000000;
  display: block;
  padding: 10px 20px;
}

nav li {
  display: inline-block;
  margin-left: 10px;
  margin-right: 10px;
}

nav a {
  display: block;
  padding: 10px 20px;
  color: #fff;
  text-decoration: none;
}

nav a:hover {
  background-color: #579397;  /*sfondo nav quando passi con il mouse*/
}

.dropdown-menu {
  display: none;
  position: absolute;
  z-index: 1;
}

.dropdown:hover .dropdown-menu {
  display: block;
}

footer{
  background-color:rgb(103, 214, 248);
  padding:20px;
  text-align:center;
  }
  .container {
    display: flex;
    flex-wrap: wrap;
  }
   .item {
    flex: 1 0 200px;
    margin: 10px;
  }

  .testo{
    margin-top: 20px;
    margin-bottom: 20px;
    margin-left: 150px;
    margin-right: 150px;
  }

  .container {
    display: flex;
    flex-wrap: wrap;
  }
  
  .item {
    flex: 1 0 200px; 
    margin: 10px;
  }  