body {
    font-family: Arial, sans-serif;
  }
  
  header {
    background-color: #96ffed;
    padding: 20px;
    text-align: center;
  }
  
  nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
  }
  
  nav li {
    display: inline-block;
    margin-right: 20px;
  }
  
  nav a {
    text-decoration: none;
    color: #333;
  }
  
  main {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
  }
  
  section {
    margin-bottom: 40px;
  }
  
  h1, h2 {
    color: #333;
    font-family: Verdana, Geneva, Tahoma, sans-serif
  }
  
  h1{
    font-size: 60px;
    font-family: Verdana, Geneva, Tahoma, sans-serif
  }
 
  li{
    font-family: Verdana, Geneva, Tahoma, sans-serif
  }

  center{
    background-color: rgba(116, 222, 248, 0.87);
  }
 
  textarea{
    background-color:  rgba(116, 222, 248, 0.87);
  }
  input{
    background-color:  rgba(116, 222, 248, 0.87);
  }

  div{
    display: flex;
  flex-direction: row;
  margin-right: 10px;
  width:50%;
  }
