body {
    font-family: Arial, sans-serif;
  }

footer{
  background-color:rgb(103, 214, 248);
  padding:20px;
  text-align:center;
  
 
}
  .container {
    display: flex;
    flex-wrap: wrap;
  }
  
  .item {
    flex: 1 0 200px;
    margin: 10px;
  }
  
  header {
    background-color: #4db8ff;
    padding: 20px;
    text-align: center;
  }
  
  nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
  }
  
  nav li {
    display: inline-block;
    margin-right: 20px;
  }
  
  nav a {
    text-decoration: none;
    color: #333;
  }
  
  main {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
  }
  
  section {
    margin-bottom: 40px;
  }
  
  h1, h2 {
    color: #333;
    font-family: Verdana, Geneva, Tahoma, sans-serif
  }
  
  h1{
    font-size: 60px;
    font-family: Verdana, Geneva, Tahoma, sans-serif
  }
 
  li{
    font-family: Verdana, Geneva, Tahoma, sans-serif
  }

 #testo-sede{
  overflow:Hidden
 }

 
  #foto {
    display: flex;
    flex-direction: row;
    width: 55%; 
    
  }
  
  #foto img {
    margin-right: 10px;
    width: 55%;
    
  }




